#mainFrame {
	-fx-background-image: url('../img/background.jpg');
	-fx-background-repeat: no-repeat;   
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.jfx-list-view {
    -fx-background-insets: 0.0;
    -fx-cell-horizontal-margin: 0.0;
    -fx-cell-vertical-margin: 5.0;
    -fx-vertical-gap : 10.0;
    -fx-expanded : false;
}

.text-field {
    -fx-max-width: 300;
}

.jfx-text-field, .jfx-password-field{
    -fx-background-color: WHITE;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left ;
    -fx-focus-color: #4059A9;
    -fx-unfocus-color: #4d4d4d;
    -fx-max-width: 300;
}

.jfx-decorator {
    -fx-decorator-color: RED;
}
.jfx-decorator .jfx-decorator-buttons-container{
    -fx-background-color:-fx-decorator-color;
}
.jfx-decorator .resize-border{
    -fx-border-color:-fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-text-area, .text-area{
    -fx-font-weight: BOLD;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error{
    -fx-focus-color: #D34336;
    -fx-unfocus-color: #D34336;
}

.jfx-text-field .errorLabel, .jfx-password-field .errorLabel , .jfx-text-area .errorLabel{
    -fx-text-fill : #D34336;
    -fx-font-size: 0.75em;
}
.jfx-text-field .errorIcon, .jfx-password-field .errorIcon, .jfx-text-area .errorIcon{
    -fx-text-fill : #D34336;
    -fx-font-size: 1em;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error{
    -fx-focus-color: #D34336;
    -fx-unfocus-color: #D34336;
}

.jfx-text-field .errorLabel, .jfx-password-field .errorLabel , .jfx-text-area .errorLabel{
    -fx-text-fill : #D34336;
    -fx-font-size: 0.75em;
}
.jfx-text-field .errorIcon, .jfx-password-field .errorIcon, .jfx-text-area .errorIcon{
    -fx-text-fill : #D34336;
    -fx-font-size: 1em;
}

.jfx-text-field, .jfx-password-field, .jfx-text-area{
    -fx-background-color: transparent ;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left ;
    -fx-focus-color: #4059A9;
    -fx-unfocus-color: #4d4d4d;       
}

.jfx-text-field:error , .jfx-password-field:error , .jfx-text-area:error {
    -fx-focus-color: #D34336;
    -fx-unfocus-color: #D34336;
}

.jfx-text-field .errorLabel, .jfx-password-field .errorLabel, .jfx-text-area .errorLabel{
    -fx-text-fill : #D34336;
    -fx-font-size: 0.75em;
}
.jfx-text-field .errorIcon, .jfx-password-field .errorIcon , .jfx-text-area .errorIcon{
    -fx-text-fill : #D34336;
    -fx-font-size: 1.0em;
}

.jfx-text-area .viewport{
    -fx-background-color: WHITE;
}