#mainFrame {
	-fx-background-image: url('../img/background.jpg');
	-fx-background-repeat: no-repeat;   
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.jfx-list-view {
    -fx-background-insets: 0.0;
    -fx-cell-horizontal-margin: 0.0;
    -fx-cell-vertical-margin: 5.0;
    -fx-vertical-gap : 10.0;
    -fx-expanded : false;
}